<%= simple_nested_form_for @cause, :html => { :class => 'form-vertical' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :text, :as => :text, input_html: {rows: 5, style: 'width: 500px;'} %>
  <%= f.input :category_id, :as => :select, :collection => Category.order("name ASC").collect { |s| [s.name, s.id] }, :include_blank => "Selecione uma Categoria" %>
  <%= f.input :address, :label => "Endereço" %>
  <hr>
  <%= f.fields_for :images do |foto_form| %>
        <% if foto_form.object.new_record? -%>
          <%= foto_form.input :file  %>
          <%= foto_form.link_to_remove "Remover esta imagem", :class => "btn btn-danger btn-mini" %>
          <hr>
        <% end -%>
      <% end %>

      <p>
        <%= f.link_to_add "Adicionar Imagem", :images, :id => 'add_foto', :class => "btn btn-info btn-mini" %>
      </p>
  <hr>
  <%= f.input :latitude, :as => :hidden %>
  <%= f.input :longitude, :as => :hidden %>
  <p class='alert alert-error'>A localização é obrigatoria</p>
  <p class='alert alert-success alerta-atual' style='display:none'>a</p>
  <div id='#show_maps_canvas' style="width:800px; height:300px; margin-bottom:20px" ></div>
  <div id='#pano' style="width:800px; height:300px; margin-bottom:20px" ></div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                my_causes_causes_path, :class => 'btn' %>
  </div>
<% end %>

