<%- model_class = Cause -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div style="text-align: center;"><%= paginate @causes -%></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:category_id) %></th>
      <th><%= model_class.human_attribute_name(:text) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:support) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @causes.each do |cause| %>
      <tr>
        <td><%= image_tag cause.category.try(:icon) %></td>
        <td><%= cause.text %></td>
        <td><%= cause.address %></td>
        <td><%= cause.support %></td>
        <td><%= cause.created_at.strftime('%H:%M - %d/%m/%Y') %></td>
        <td><%= link_to "Detalhes", cause_path(cause), class: 'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="text-align: center;"><%= paginate @causes -%></div>
