<%= image_tag @cause.category.icon.url -%>
<h1><%= @cause.category.name -%> </h1>
<p>
  <b>Descrição:</b>
  <%= @cause.text %>
</p>
<h3>Fotos</h3>
<% @cause.images.each do |foto| -%>
  <div id='remove_foto_<%= foto.id %>'>
    <%= image_tag foto.file.url(:thumb) -%>
  </div>

<% end -%>
<h4>Próximos</h4>
<% @sugest = @cause.nearbys.present? ? @cause.nearbys(4, :units => :km).where('id != ?',@cause.id).shuffle.first(5) : [] %>

<% @sugest.each do |sugest| -%>
  <%= link_to sugest.id, '#', :class => 'causa_proxima', :'data-id' => sugest.id -%>
  <br>
<% end -%>