<%- model_class = Cause -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:text) %>:</strong></dt>
  <dd><%= @cause.text %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= image_tag @cause.category.try(:icon) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:support) %>:</strong></dt>
  <dd><%= @cause.support %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @cause.address %></dd>
</dl>

<legend>Fotos</legend>
  <ul>
    <% @cause.images.each do |image| %>
      <li>
        <%= image_tag image.file.url(:thumb) %>
      </li>
    <% end %>
  </ul>
<hr>

<%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn btn-default'  %>
<% if user_signed_in? %>
  <% if current_user.causes.include?(@cause) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_cause_path(@cause), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  cause_path(@cause),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
  <% end %>
<% end %>

